{% block site_css %}

<!--[if !IE 6]><!-->
{{ css('mdn') }}
{% for style in styles %}
  {{ css(style) }}
{% endfor %}
<!--<![endif]-->
<!--[if IE]><link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/mdn-ie.css"><![endif]-->
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/mdn-ie7.css"><![endif]-->
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/mdn-ie6.css"><![endif]-->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/libs/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="print" href="{{ MEDIA_URL }}css/mdn-print.css">
<link rel="stylesheet" href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css">

{% endblock %}