{# footer #}
<section id="footbar">
<div class="wrap">
  <p>
  {% trans feedback_url=devmo_url('Project:Feedback') %}
  Is MDN helpful to you? Please  <a href="{{ feedback_url }}">share your feedback</a> with us. Or join our  <a id="dev-mdc-link" href="//lists.mozilla.org/listinfo/dev-mdc">mailing list about improving MDN content</a>.
  {% endtrans %}
  </p>
</div>
</section>

<footer id="site-info" class="footer" role="contentinfo">
<div class="wrap">
    <div id="legal">
      <img src="{{ MEDIA_URL }}img/mdn-logo-tiny.png" alt="" width="42" height="48">
      <p id="copyright">&copy; 2005 - {{ thisyear() }} Mozilla Developer Network {{ _('and individual contributors') }}</p>
      <p>
      {% trans copyright_url=devmo_url('Project:Copyrights') %}
      Content is available under <a href="{{ copyright_url }}">these licenses</a>
      {% endtrans %}
      &bull; <a href="{{ devmo_url('Project:About') }}">{{ _('About MDN') }}</a>
      &bull; <a href="//github.com/mozilla/kuma">{{ _('Contribute to the code') }}</a>
      &bull; <a href="//www.mozilla.org/en-US/privacy">{{ _('Privacy Policy') }}</a>
    </div>
    {% block lang_switcher %}
        {% include "includes/lang_switcher.html" %}
    {% endblock %}
</div>
</footer>