{% block headernav %}
  <nav id="nav">
    <ul id="nav-main" role="menubar">
      <li id="nav-main-docs" class="menu" rel="menuitem"><a href="#nav-sub-docs" class="toggle" aria-haspopup="true" aria-labelledby="nav-main-docs" title="{{ _('Read Documentation') }}">{{ _('Read<br /><em>Docs</em>') }}</a>
        <div id="nav-sub-docs" class="sub-menu" aria-hidden="true">
          <ul>
            <li>
              <ul>

                <li><a href="{{ devmo_url('Web/HTML') }}?menu">{{ _('HTML') }}</a></li>
                <li><a href="{{ devmo_url('Web/CSS') }}?menu">{{ _('CSS') }}</a></li>
                <li><a href="{{ devmo_url('Web/JavaScript') }}?menu">{{ _('JavaScript') }}</a></li>
                <li><a href="{{ devmo_url('Web/Guide/Graphics') }}?menu">{{ _('Graphics') }}</a></li>
                <li><a href="{{ devmo_url('Web/API') }}?menu">{{ _('APIs / DOM') }}</a></li>
                <li><a href="{{ devmo_url('Web/Apps') }}?menu">{{ _('Apps') }}</a></li>
                <li><a href="{{ devmo_url('tools') }}?menu">{{ _('Dev Tools') }}</a></li>
                <li><a href="{{ devmo_url('Web/MathML') }}?menu">{{ _('MathML') }}</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="{{ devmo_url('Web/Tutorials') }}?menu">{{ _('Tutorials') }}</a></li>
                <li><a href="{{ devmo_url('Web/Reference') }}?menu">{{ _('References') }}</a></li>
                <li><a href="{{ devmo_url('Web/Guide') }}?menu">{{ _('Developer Guides') }}</a></li>
                <li><a href="{{ devmo_url('Accessibility') }}?menu">{{ _('Accessibility') }}</a></li>
                <li><a href="{{ url('demos') }}?menu">{{ _('Demos') }}</a></li>
                <li><br /><br /><a href="{{ url('docs') }}?menu">{{ _('...more docs') }}</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li id="nav-main-apps"><a href="https://marketplace.firefox.com/developers/?menu">{{ _('Make<br /><em>Apps</em>') }}</a>
      </li>
      <li id="nav-main-firefox" class="menu" role="menuitem"><a href="#nav-sub-firefox" class="firefox toggle" aria-haspopup="true" aria-labelledby="nav-main-firefox">{{ _('Build & Use<br /><em>Firefox</em>') }}</a>
        <ul id="nav-sub-firefox" class="sub-menu">
          <li><a href="{{ devmo_url('Mozilla/Firefox_OS') }}?menu">{{ _('Firefox OS') }}</a></li>
          <li><a href="{{ devmo_url('Mozilla/Firefox') }}?menu">{{ _('Firefox Desktop') }}</a></li>
          <li><a href="{{ devmo_url('Mozilla/Mobile') }}?menu">{{ _('Mobile') }}</a></li>
          <li><a href="{{ devmo_url('Mozilla/Add-ons') }}?menu">{{ _('Add-ons') }}</a></li>
        </ul>
      </li>
      <li id="nav-main-demos" role="menuitem"><a href="{{ url('demos') }}?menu" class="demos">{{ _('See & Submit<br /><em>Demos</em>') }}</a></li>
      <li id="nav-main-community" class="menu" role="menuitem"><a href="#nav-sub-community" class="community toggle" aria-haspopup="true" aria-labelledby="nav-main-community">{{ _('Get<br /><em>Involved</em>') }}</a>
        <ul id="nav-sub-community" class="sub-menu">
          <li><a href="{{ devmo_url('Project:MDN/Contributing/Join_the_community') }}?menu">{{ _('Join the Community') }}</a></li>
          <li><a href="{{ devmo_url('Project:MDN/Contributing') }}?menu">{{ _('Contribute to MDN') }}</a></li>
          <li><a href="{{ url('events') }}?menu">{{ _('Events') }}</a></li>
          <li><a href="{{ devmo_url('Project:MDN/Contributing/Follow_what_s_happening') }}?menu">{{ _('Tweets, Blogs, and More') }}</a></li>
        </ul>
      </li>
    </ul>
  </nav>

{% endblock %}