<div class="rev-def-wrapper">
	<span class="rev-def-check">
		<label for="rev-def-checkbox">{{ _('View raw HTML') }}</label>
		<input type="checkbox" onchange="swapPane(this.checked);" id="rev-def-checkbox" />
	</span>
	<div class="rev-def-rendered rev-def-show">
		<section class="boxed">
			<article class="article" role="main">
				<h1>
					{% if revision_from.title != revision_to.title %}
						<span class="changed">{{ revision_to.title }}</span>
					{% else %}
						{{ revision_to.title }}
					{% endif %}
				</h1>
				{% if rendered_diff %}
					{{ rendered_diff | safe }}
				{% else %}
					<p><em>({{ _('There were no content changes for this revision.') }})</em></p>
				{% endif %}
			</article>
		</section>
	</div>
	<div class="rev-def-html">
		{{ table }}
	</div>
</div>

<style type="text/css">
	.rev-def-wrapper > div {
		display: none;
	}
	.rev-def-check {
		float: right;
		display: block;
		font-size: 0.8em;
		margin-top: -30px;
	}

	.rev-def-rendered {
		clear: both;
	}

	.rev-def-rendered ins {
		background: lightgreen !important;
	}
	.rev-def-rendered ins p {
		display: inline-block;
	}

	.rev-def-rendered del {
		background: pink !important;
	}

	.rev-def-wrapper > div.rev-def-show {
		display: block;
	}
</style>
<script stype="text/javascript">
function swapPane(checked) {
	var $divs = $('.rev-def-wrapper > div'),
		showClass = 'rev-def-show';
	$divs.removeClass(showClass);
	$($divs.get(checked ? 1 : 0)).addClass(showClass);
}
</script>