{% from "includes/common_macros.html" import optimizely_script with context %}

{% include "includes/doctype.html" %}

<head>
  {{ optimizely_script() }}
  <title>{% block title %}{{ _('Mozilla Developer Network') }}{% endblock %}</title>
  
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <link rel="home" href="{{ url('home') }}">
  <link rel="copyright" href="#copyright">
  <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico">

  {% include "includes/css.html" %}
  
  <link rel="search" type="application/opensearchdescription+xml" href="{{ settings.SITE_URL }}/{{ request.locale }}/search/xml" title="{{ _('Mozilla Developer Network') }}" />

  {% include "includes/header_js.html" %}

  {% block extrahead %}{% endblock %}
  {% include "includes/google_analytics.html" %}
</head>

<body id="{% block pageid %}{% endblock %}" class="html-{{ DIR }} {% block bodyclass %}{% endblock %}" role="document">
<!--[if lte IE 8]>
<noscript><div class="global-notice">
{% trans %}
<p><strong>Warning:</strong> The Mozilla Developer Network website employs emerging web standards that may not be fully supported in some versions of Microsoft Internet Explorer. You can improve your experience of this website by enabling JavaScript.</p>
{% endtrans %}
</div></noscript>
<![endif]-->

  {% include "includes/header_start.html" %}

      <ul id="nav-access">
        <li><a href="#language">{{ _('Select language') }}</a></li>
        <li><a href="#q">{{ _('Skip to search') }}</a></li>
        <li><a href="#content">{{ _('Skip to main content') }}</a></li>
      </ul>
    
      {% include "includes/header_branding.html" %}  
      
      {% include "includes/header_menu.html" %}  
    
      {% include "includes/login.html" %}
      
      <form id="site-search" method="get" action="http://www.google.com/search"
              data-url="{{ url('search') }}">
        <p>
          <input type="search" role="search" placeholder="{{ _('Search MDN') }}" id="q" name="q" value="{{ query }}">
          <noscript><button type="submit">{{ _('Search') }}</button></noscript>
        </p>
        <input type="hidden" name="sitesearch" value="developer.mozilla.org">
        {% if not waffle.flag('elasticsearch') %}
        <div id="site-search-gg"></div>
        {% endif %}
      </form>

      <a href="//www.mozilla.org/" id="tabzilla">mozilla</a>
    
    {% include "includes/header_end.html" %}  

{{ soapbox_messages(get_soapbox_messages(request.path)) }}

<!-- CONTENT BLOCK -->
{% block content %}{% endblock %}

<!-- FOOTER HTML -->
{% include "includes/footer.html" %}

<!-- FINAL JAASCRIPT BLOCK -->
{% include "includes/footer_js.html" %}

<script type="text/javascript">
  // Event tracking for the new menu
  $(function() {
    $('#nav-main').on('click', 'a', function(e) {
      window._gaq && _gaq.push(['_trackEvent', 'Menu', 'Click', e.target.innerHTML, e.target.href]);
    });
  });
</script>
<script src="/{{ request.locale }}/waffles.js" type="text/javascript" async></script>

</body>
</html>
